@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
 .badgescard, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

athlete-card:before, athlete-card:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.athlete-card {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.athlete-card:after {
  content: '';
  display: block;
  width: 190px;
  height: 300px;
  background: #c4351c;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}


.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #c4351c;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

.user-name-text{
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  /* background: linear-gradient(to right, #f8b195, #f67280, #c06c84); */
  background: linear-gradient(to right, #5ac2bd, #72f6b8, #7b6cc0);
  font-weight: 500;
  font-size: 20px;
  width: 430px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}

.best-result .br1{
    color:rgb(202, 173, 6);
    
}
.best-result .br2{
    color:silver;
}
.best-result {
    text-decoration: underline;
}
@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
