body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

.taskbar {
    width: 16%;
    height: 300px;
    border: 1px none #e6ecf1;
    float: left;
    justify-content: flex-start;
    align-self: auto;
    margin: 50px 50px 50px 50px;
    overflow: hidden;
    padding: 16px;
    border-radius: 20px;
    background-color:#fff;
}

.taskbar:hover {
    width: 17%;
    box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 1)
}