.nav-item::after {
	content: "";
	display: block;
	width: 0px;
	height: 2px;
	background: #0649c5;
	transition: 0.2s;
}
.nav-item:hover::after {
	width: 100%;
}

#login-holder {
	max-width: 700px;
	z-index: 1;
}
